<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/styel.css">
</style>

</head>
{% extends 'principal.html' %}
{% block title %}
Employee 
 {% endblock %}

 {% block body %}
 <div class="px-3 py-1">
  <div class="py-1">
    <h2> Les employees</h2>
    <hr>
</div>
  {% if messages %}
  {% for message in messages %} 
  <div class="row justify-content-center">  
      <div class="col-md-6 py-2">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <p>{{ message }}</p> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      </div>
  </div>
  {% endfor %}
{% endif %}
<div class="row">
<div class="col-sm-8">
    <div class="card">
        <div class="card-header bg-white">
            <h6>Nouveau Employee</h6>
        </div>
        <div class="card-body">
            <form id="form" class="row g-3" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="col-md-6">
                  <label for="" class="form-label"><b>Nom Complet *</b></label>
                  <input type="text" class="form-control" Required name="nom_emp" >
                </div>
                <div class="col-md-6">
                  <label for="" class="form-label"><b>NNI *</b></label>
                  <input type="text" class="form-control" Required name="nni_emp" >
                </div>
                
                  <div class="col-md-4">
                    <label for="validationDefault04" class="form-label"><b>Fonction *</b></label>
                    <select class="form-select"  Required name="fon_emp">
                      {% for i in cl %}                    
                        <option>{{ i.matier_nom }}</option>
                        {% endfor %}
                      </select>
  
                  </div>
                  <div class="col-md-4">
                    <label for="validationDefaultUsername" class="form-label"><b>Salaire *</b></label>
                    <input type="text" class="form-control"  Required name="sr_emp">
              
                  </div>
                  
                  <div class="col-md-4">
                    <div  id="input">
                      <label for="" class="form-label"><b>Contact(Tel) *</b></label>
                      <input type="text" class="form-control" id="txt1" Required name="conn_emp">                    </div>
                    </div>
                  
                <div class="col-6">
                  <label for="" class="form-label"><b>.</b></label>
                  <button class="btn btn-success" type="submit">Enregistrer</button>
                </div>
              </form>
     
        </div>
    </div>
</div>
<div class="col-sm-4">
  <div class="card ">
    <div class="card-header bg-white">
      <h5>Totale-Employéés</h5>
    </div>
    <div class="card-body bg-success text-white py-4">
      <h1 class="card-title"><center>{{ tmp}}</center></h1>
        <center><h3>Employéés</h3></center>
    </div>
  </div>
</div>
</div>
</div>
<div class="py-3 px-1">
    <div class="card">
      <div class="card-header bg-white">
        <h6><i class="fa-solid fa-bell"></i> les Liste des employees </h5>
      </div>
      <div class="card-body px-3 py-2">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom</th>
              <th scope="col">FUNCTION</th>
              <th scope="col">CONTACT</th>
              <th scope="col">SALAIRE</th>
              <th scope="col">CREDIT</th>
              <th colspan="2"></th>
            
            </tr>
          </thead>
          <tbody>
            {% for i in emp %}
            <tr>
       
             <td>{{ forloop.counter }}</td>
              <td>{{ i.nom_emp }}</td>
              <td>{{ i.fonc_emp }}</td>
              <td>{{ i.num_tel_emp }}</td>
              <td>{{ i.salair_emp }}</td>
              <td>{{ i.credit_emp }}</td>
              <td><center><a href="{% url 'Credite' i.id %}" class="btn btn btn-success px-4 "">credité</a></center></td>
              <td><center><a href="{% url 'SalaireEmp' i.id %}" class="btn btn btn-success px-4 "">Payé-salaires</a></center></td>
            </tr>
              {% endfor %}
             
          </tbody>
        </table>
      </div>
    </div>


 {% endblock %}
 </html>